## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [20]:
import pandas as pd
from traitlets import observe

In [21]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()
df = pd.DataFrame(data)

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [22]:
res = data['sex'].value_counts()
print(res)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [23]:
avg_male_age = df[df['sex'] =='Male']['age'].mean()
print(f"Средний возраст мужчин - {round(avg_male_age,2)}")

Средний возраст мужчин - 39.43

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [24]:
amercians = df[df['native-country'] == 'United-States']
amercians_amount = amercians.shape[0]
total_amount = df.shape[0]
partOfAmericans = amercians_amount/total_amount
print(f'Доля американцев - {round(partOfAmericans,2)*100}%')

Доля американцев - 90.0%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [25]:
avg_rich_age = df[df['salary']=='>50K']['age'].mean()
avg_poor_age = df[df['salary']=='<=50K']['age'].mean()
avg_sqr_diff_rich = df[df['salary']=='>50K']['age'].std()
avg_sqr_diff_poor = df[df['salary']=='<=50K']['age'].std()
print(f'Средний возраст людей с доходом >50K - {round(avg_rich_age,2)}')
print(f'Сренеквадратичное отклонение возраста людей с доходом >50K - {round(avg_sqr_diff_rich,2)}')
print(f'Средний возраст людей с доходом <=50K - {round(avg_poor_age,2)}')
print(f'Сренеквадратичное отклонение возраста людей с доходом <=50K - {round(avg_sqr_diff_poor,2)}')

Средний возраст людей с доходом >50K - 44.25
Сренеквадратичное отклонение возраста людей с доходом >50K - 10.52
Средний возраст людей с доходом <=50K - 36.78
Сренеквадратичное отклонение возраста людей с доходом <=50K - 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [26]:
rich = df[df['salary']=='>50K']
educated_rich = rich[~rich['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])]
print(f'{round(educated_rich.shape[0]/rich.shape[0]*100,2)}% людей с доходом >50K имеют высшее образование')

42.16% людей с доходом >50K имеют высшее образование

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [35]:
age_stats = df.groupby(['race','sex'])['age'].describe()
print(age_stats)
max_asian_pac_islander_age = df[(df['race'] == 'Asian-Pac-Islander') & (df['sex'] == 'Male')]['age'].max()
print(f'Макс возраст {max_asian_pac_islander_age}')

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Макс возраст 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [28]:
marital_sallary_high = df[(df['sex'] == 'Male')& (df['salary']=='>50K') & (df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))]
marital_sallary_all = df[(df['sex'] == 'Male') & (df['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']))]
print(f'{round(marital_sallary_high.shape[0]/marital_sallary_all.shape[0]*100,2)}% людей с высокой зарплатой женаты')

44.05% людей с высокой зарплатой женаты

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [29]:
max_work_hours = df['hours-per-week'].max()
print(f'Максимальное количестов часов в неделю - {max_work_hours}')
max_hour_workers = df[df['hours-per-week'] == max_work_hours]
print(f'Людей работающих максимальное количестов часов в неделю - {max_hour_workers.shape[0]}')
print(f'Из них {max_hour_workers[max_hour_workers['salary']=='>50K'].shape[0]} получают >50K')

Максимальное количестов часов в неделю - 99
Людей работающих максимальное количестов часов в неделю - 85
Из них 25 получают >50K

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [30]:
print(df.groupby(['native-country','salary']).agg(mean_hour_amount = ('hours-per-week','mean' )).reset_index())

   native-country salary  mean_hour_amount
0               ?  <=50K         40.164760
1               ?   >50K         45.547945
2        Cambodia  <=50K         41.416667
3        Cambodia   >50K         40.000000
4          Canada  <=50K         37.914634
..            ...    ...               ...
77  United-States   >50K         45.505369
78        Vietnam  <=50K         37.193548
79        Vietnam   >50K         39.200000
80     Yugoslavia  <=50K         41.600000
81     Yugoslavia   >50K         49.500000

[82 rows x 3 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [31]:
bins = [16,35,70,100]
labels = ['young','adult','retiree']
df['age_group']=pd.cut(df['age'],bins = bins,labels = labels,right = False,include_lowest=True)
print(df[['age','age_group']].head(10))

   age age_group
0   39     adult
1   50     adult
2   38     adult
3   53     adult
4   28     young
5   37     adult
6   49     adult
7   52     adult
8   31     young
9   42     adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [43]:
count_by_agegroup = df[df['salary'] == '>50K'].groupby('age_group',observed = True).size().reset_index(name='count')

max_count_group = count_by_agegroup.loc[count_by_agegroup['count'].idxmax()]

print(f'Количество зарабатывающих >50K по возрастным группам:\n{count_by_agegroup}')
print(f"\nВозрастная группа с наибольшим количеством зарабатывающих >50K: {max_count_group['age_group']} (количество: {max_count_group['count']})")

#print((df[df['salary']=='>50K']['age_group'].value_counts()).idxmax())

Количество зарабатывающих >50K по возрастным группам:
  age_group  count
0     young   1488
1     adult   6240
2   retiree    113

Возрастная группа с наибольшим количеством зарабатывающих >50K: adult (количество: 6240)

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [25]:
def filter_func(group):
    return group['age'].mean() <= 40 & group['hours-per-week'].min() > 5

filtered_groups = df.groupby(['native-country','salary']).filter(filter_func)
print(filtered_groups)

       age         workclass  fnlwgt     education  education-num  \
1826    22  Self-emp-not-inc  202920       HS-grad              9
2469    39  Self-emp-not-inc  237532       HS-grad              9
3260    34           Private  223212     Bachelors             13
4303    37           Private  191342       1st-4th              2
4785    25           Private  228608  Some-college             10
7980    34       Federal-gov   67083     Bachelors             13
8014    40           Private  173858       7th-8th              4
10188   28         Local-gov  336543    Assoc-acdm             12
11134   32           Private  112137     Preschool              1
11637   51           Private   63685       HS-grad              9
15644   35           Private  320451       Masters             14
16068   28           Private  149769       HS-grad              9
17382   27           Private  292472  Some-college             10
18075   65           Private  255386       HS-grad              9
19609   32           Private   27882  Some-college             10
19964   30           Private  328242     Bachelors             13
20780   27           Private  298635       Masters             14
21503   35           Private   93034       HS-grad              9
21851   18                 ?  261276  Some-college             10
22669   36           Private  116138       HS-grad              9
27329   29           Private  162551       Masters             14
28895   33           Private  405913  Some-college             10
30975   40           Private  320451     Doctorate             16

           marital-status         occupation    relationship  \
1826        Never-married     Prof-specialty       Unmarried
2469   Married-civ-spouse              Sales            Wife
3260   Married-civ-spouse     Prof-specialty         Husband
4303   Married-civ-spouse       Craft-repair         Husband
4785        Never-married       Craft-repair  Other-relative
7980        Never-married    Exec-managerial       Unmarried
8014   Married-civ-spouse      Other-service         Husband
10188  Married-civ-spouse    Protective-serv         Husband
11134  Married-civ-spouse  Machine-op-inspct            Wife
11637  Married-civ-spouse              Sales         Husband
15644  Married-civ-spouse    Exec-managerial         Husband
16068       Never-married  Machine-op-inspct   Not-in-family
17382       Never-married       Craft-repair   Not-in-family
18075       Never-married       Craft-repair  Other-relative
19609       Never-married  Machine-op-inspct  Other-relative
19964  Married-civ-spouse    Exec-managerial         Husband
20780  Married-civ-spouse     Prof-specialty         Husband
21503       Never-married  Machine-op-inspct   Not-in-family
21851       Never-married                  ?       Own-child
22669  Married-civ-spouse     Prof-specialty         Husband
27329  Married-civ-spouse     Prof-specialty            Wife
28895  Married-civ-spouse     Prof-specialty         Husband
30975  Married-civ-spouse     Prof-specialty         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
1826                White  Female         99999             0              40
2469                Black  Female             0             0              54
3260                White    Male             0          1848              40
4303   Asian-Pac-Islander    Male             0             0              40
4785   Asian-Pac-Islander  Female             0             0              40
7980   Asian-Pac-Islander    Male          1471             0              40
8014   Asian-Pac-Islander    Male             0             0              42
10188  Asian-Pac-Islander    Male             0             0              40
11134  Asian-Pac-Islander  Female          4508             0              40
11637  Asian-Pac-Islander    Male             0             0              50
15644  Asian-Pac-Islander    Male             0             0              65
16068  Asian-Pac-Islander    Male             0             0              40
17382  Asian-Pac-Islander    Male             0          1876              45
18075  Asian-Pac-Islander    Male             0             0              40
19609               White  Female             0          2205              40
19964  Asian-Pac-Islander    Male             0             0              40
20780  Asian-Pac-Islander    Male             0             0              40
21503  Asian-Pac-Islander    Male             0             0              40
21851               Black  Female             0          1602              40
22669  Asian-Pac-Islander    Male             0             0              40
27329  Asian-Pac-Islander  Female             0             0              40
28895               White    Male             0             0              40
30975  Asian-Pac-Islander    Male             0          1977              45

           native-country salary age_group
1826   Dominican-Republic   >50K     young
2469   Dominican-Republic   >50K     adult
3260                 Peru   >50K     young
4303             Cambodia  <=50K     adult
4785             Cambodia  <=50K     young
7980             Cambodia  <=50K     young
8014             Cambodia  <=50K     adult
10188                Hong   >50K     young
11134            Cambodia  <=50K     young
11637            Cambodia  <=50K     adult
15644                Hong   >50K     adult
16068            Cambodia  <=50K     young
17382            Cambodia  <=50K     young
18075            Cambodia  <=50K     adult
19609  Holand-Netherlands  <=50K     young
19964                Hong   >50K     young
20780                Hong   >50K     young
21503            Cambodia  <=50K     adult
21851            Cambodia  <=50K     young
22669            Cambodia  <=50K     adult
27329                Hong   >50K     young
28895                Peru   >50K     young
30975                Hong   >50K     adult